<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
	<add key="apiKey" value="send grid api key"/>
	<add key="user" value="send grid user"/>
	<add key="userEmail" value="email attached to sendgrid account"/>

	<add key="AdminEmail" value="admin email address" />
	<add key="AdminUser" value="Admin" />
	<add key="AdminPwd" value="must be at least 8 characters containing capital,small.numeric and special characters" />
	<add key="AdminPhone" value="0909-090-9877" />

	
</appSettings>


